/.vscode
/.idea
/.embuild
/target
/Cargo.lock
.env
node_modules
scripts/node_modules
src/utils/version.rs
chips/*.wasm

# yarn 
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions